<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="light_sensor" params="name">

	

	<gazebo>
		<model name="${name}">
			<pose> 0.1 0 0.35 0 0 0 </pose>
			<link name="${name}_link">
				<visual name="visual_object">					
					<geometry>
						<cylinder>
							<radius>0.01</radius>
							<length>0.01</length>
						</cylinder>
						</geometry>
						<material>
							<diffuse>0 1 1 1</diffuse>
						</material>
				</visual>
				<inertial>
					<inertia>
						<ixx>0</ixx>
						<ixy>0</ixy>
						<ixz>0</ixz>
						<iyy>0</iyy>
						<iyz>0</iyz>
						<izz>0</izz>
					</inertia>
					<mass>0.1</mass>
				</inertial>
	    	</link>

			<!--FIXME no absoulte path-->
			<plugin
				filename="/home/paolo/light_sensor_plugin/install/lib/libLightSensor.so"
				name="custom_light_sensor::LightSensor">
				<update_rate>5</update_rate>
			</plugin>
		</model>

	</gazebo>

</xacro:macro>
</robot>